.my-header{
    padding: 20px 0;
}

.header-primary-text{
    margin: 0;
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
    color: #52452b;
}

.header-secondary-text{
    margin: 0;
    font-style: italic;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #756c58;
}